<div class="py-12 px-10">
  
  
  <%= render 'form', tournament_event: @tournament_event %>
  
  
  
  
  <p id="notice"><%= notice %></p>
  
  
  
  <br>
  
  
 <div class="ml-64">
   <i class="fas fa-arrow-left"></i>
    <%= link_to 'Back', tournament_events_path %>
 </div>
</div>
