<h1>New Tournament Event</h1>

<%= render 'form', tournament_event: @tournament_event %>




<p id="notice"><%= notice %></p>



<br>

<%= link_to 'New Fighter', new_fighter_path %>


<%= link_to 'Back', tournament_events_path %>
