<div class="max-w-lg mx-auto mt-16 text-center">
  <h1 class="mb-4 text-3xl font-black">Welcome to Kickoff Tailwind!</h1>
  <p class="text-lg leading-snug mb-16">Use this starting point as a way to quickly set up a new project by generating files, installing gems, and more.</p>


  <%= link_to new_fighter_path do %>
  <p class="text-lg mb-8">Create a Fighter</p>  
  <% end %>

 <%= link_to fighters_path do %>
  <p class="text-lg mb-8">Fighters Database</p>  
  <% end %>

  <%= link_to new_tournament_event_path do %>
  <p class="text-lg mb-8">Create a Tournament</p>  
  <% end %>

</div>
