<div class="max-w-lg mx-auto mt-16 text-center">
  <h1 class="mb-4 text-3xl font-black">Savate Tournament Generator</h1>
  <p class="text-lg leading-snug mb-16">Add fighters using the link below and then create a fair tournament seed using the create a tournament button</p>


  <%= link_to new_fighter_path do %>
  <p class="text-lg mb-8">Create a Fighter</p>  
  <% end %>

 <%= link_to fighters_path do %>
  <p class="text-lg mb-8">Fighters Database</p>  
  <% end %>

  <%= link_to new_tournament_event_path do %>
  <p class="text-lg mb-8">Create a Tournament</p>  
  <% end %>

</div>
