@tailwind base;
@tailwind components;

@import "components/buttons";
@import "components/forms";

@tailwind utilities;



td {
    padding-left: 12px !important;
}


th {
    padding-left: 12px !important;
}


tr {
    padding-left: 3%;
}